<!-- <p>barras works!</p> -->

<h1>Grafica de Barras</h1>
<hr>

<div class="row">
    <div class="col">
        <div style="display:block">
            
            <!-- <canvas baseChart class="chart"
                    [data]="barChartData"
                    [options]="barChartOptions"
                    [plugins]="barChartPlugins"
                    [type]="barChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
            </canvas> -->

            <canvas baseChart
                    [data]="barChartData"
                    [options]="barChartOptions"
                    [type]="barChartType"
                    >
            </canvas>

        </div>
    </div>
</div>


<button (click)="randomize()" 
        class="btn btn-primary float-end">
        Actualizar
</button>
