<!-- <p>grafica-barra works!</p> -->


<div style="display:block">
    
    <!-- <canvas baseChart class="chart"
            [data]="barChartData"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [type]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas> -->

    <canvas baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [type]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
            >
    </canvas>

</div>

